@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

/* GLOBAL STYLES */

:root {
  --navBarHeight: 3.5rem;
 }
 
 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 
 html {
   height: 100%;
 }
 
 body {
   height: 100%;
   font-family: 'Heebo', sans-serif;
   font-size: 100%;
   line-height: 1.45;
 }
 
 h1 {
   font-size: 5rem;
   color: white;
 }
 
 h2 {
   font-weight: 300;
   font-size: 2.2rem;
   color: white;
 }
 
 h3 {
   font-weight: 300;
   font-size: 2.5rem;
 }
 
 a {
   color: inherit;
 }
 
 a:link {
   text-decoration: none;
 }
 
 a:visited {
   text-decoration: none;
   color: white;
 }
 
 /* NAVBAR STYLES */
 
 .nav-container {
   color: white;
   background-color: rgb(0, 221, 221);
   position: fixed;
   width: 100%;
   z-index: 1000;
   height: var(--navBarHeight);
   padding: 0 1rem;
 }
 
 .navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 #navbar-logo {
   cursor: pointer;
 }
 
 .nav-menu {
   display: flex;
   margin: 0;
   padding: 0;
   list-style: none;
   gap: .5rem;
 }
 
 .nav-links:hover {
   color: #f9e506;
   transition: all 0.3s ease-out;
 }
 
 .nav-links-btn {
   background-color: #f9e506;
   padding: 6px 16px;
   border-radius: 4px;
 }
 
 .nav-links-btn:hover {
   background-color: transparent;
   color: white;
   padding: 5px 15px;
   border-radius: 4px;
   border: solid 1px #f9e506;
   transition: all 0.3s ease-out;
 }
 
 /* MAIN STYLES: PARALLAX SECTIONS */
 
 main {
   position: relative;
 }
 
 section {
   text-align: center;
   position: absolute;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   clip: rect(0, auto, auto, 0);
   padding: 1rem;
   box-shadow: inset 0 1px 2rem hsl(0 0% 0% / .05);
   background-color: white;
 }
 
 .fixed {
   overflow: hidden;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding-top: calc(1rem + var(--navBarHeight));
 }
 
 section:nth-child(1) {
   top: 0;
   z-index: 1;
   background-image: url("61766.jpg");
   background-repeat: no-repeat;
   background-size: cover;
 }
 
 section:nth-child(2) {
   top: 100vh;
   z-index: 2;
 }
 
 section:nth-child(3) {
   top: 200vh;
   z-index: 3;
 }
 
 section:nth-child(4) {
   top: 300vh;
   z-index: 4;
 }
 
 .booknow {
   background-color: white;
 }
 
 .description {
   background-color: lightcyan;
 }
 
 .findDeals {
   background-color: white;
 }
 
 .explore {
   background-color: lightyellow;
 }
 
 .btn {
   width: 300px;
   height: 80px;
   border: none;
   color: aqua;
   background-color: #04d9ff;
   border-radius: 4px;
   box-shadow: inset 0 0 0 0 #f9e506;
   transition: ease-out 0.3s;
   font-size: 2rem;
   outline: none;
 }
 
 .btn:hover {
   box-shadow: inset 300px 0 0 0 #f9e506;
   cursor: pointer;
   color: #000;
 }